<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>ssh-ipay2</id>
            <username>sgoroshko</username>
            <privateKey>/Users/sgoroshko/.ssh/id_rsa</privateKey>
        </server>
    </servers>

    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>public</id>
                    <name>public</name>
                    <url>http://nexus-2.amazon.loc/nexus/content/groups/public/</url>
                </repository>
                <repository>
                    <id>pb</id>
                    <name>pb</name>
                    <url>http://nexus-2.amazon.loc/nexus/content/groups/pb/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>public</id>
                    <name>public-release</name>
                    <url>http://nexus-2.amazon.loc/nexus/content/groups/public/</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>pb</id>
                    <name>pb-release</name>
                    <url>http://nexus-2.amazon.loc/nexus/content/groups/pb/</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>public-snapshot</name>
                    <url>http://nexus-2.amazon.loc/nexus/content/groups/public-snapshots/</url>
                </pluginRepository>
            </pluginRepositories>
            <id>nexus</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>